.channel-list-div {
  display: flex;
  height: 100%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  color: #f6f6f7;
  width: 100%;
  line-height: 32px;
  overflow:scroll;
}


.channel-list-header {
  height: 47px;
  padding: 0 12px 0 16px;
  width: 100%;
  border-bottom: 1px solid #202225;
}

.channel-list {
  width: 100%;
  margin-right: 5px;
  overflow-x:hidden;
}

.create-channel-li{
  margin: 1px 0 1px 8px;
  padding: 0 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.create-channel-li input {
  border: 1px solid #202225;
  padding: 0 10px;
  border-radius: 5px;
  text-align: left;
  margin-top: 15px;
}

.create-channel-li input:focus {
  border: 1px solid #7289da;
}

.create-channel-li button {
  font-size: 12px;
  background-color: #7289da;
  border-radius: 5px;
  height: 25px;
  width: 50px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.create-channel-li button:hover {
  background-color: #677bc4;
}

.server-name {
  height: 48px;
  vertical-align: middle;
  line-height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-span {
  width: 160px;
  overflow :hidden;
}

.channel-list-body {
  padding-top: 16px;
}

.channel-list-ul {
}

.channel-name {
  margin: 1px 0 1px 8px;
  padding: 0 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.dm-channel-name {
  display: flex;
  flex-direction: row;
}

#dm-channel-name {
  height: 50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.channel-name strong {
  overflow: hidden;
  width: 150px;
}

.channel-name span {
  color:  #72767d;
  font-size: 18px;
  margin-right: 5px;
}

.channel-name:hover {
  background-color: rgba(79,84,92,.6);
}

.selected-channel li {
  background-color: rgba(79,84,92,.6) !important;
  cursor: default !important;
}
