.navbar-header {
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #b9bbbe;
}

.messages-main-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.messages-sub-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  height: 100%;
  display: flex;
}

.online-user-list-container {
  background-color: antiquewhite;
  height: 100%;
  width: 240px;
}

.message-input-div {
  height: 95px;
  width: 100%;
  box-sizing: border-box;
  background-color: blue;
}
