.friends-div {
  height: 100%;
  color: rgb(115, 127, 141);
  font-size: 12px;
  letter-spacing: 1px;
}

.friends-list-div {
  height: 100%;
}

.friends-list-ul {
  height: 100%;
}

.friend-list-li {
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.friend-list-li:first-child {
  border-bottom: 1px solid rgb(153, 170, 181);
}

.friend-list-li-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 95%;
  height: 100%;
  margin: 0 12px 0 30px;
  box-sizing: border-box;
}

#first-friend-li {
  border-bottom: 1px solid rgb(153, 170, 181);
  border-radius: 3px;
  border-right: none;
}

#first-friend-li:hover {
  background-color: #DDDEDF;
}

.friend-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  width: 40%;
  cursor: pointer;
}

#friend-name-header {
  border-right: 1px solid rgb(153, 170, 181);
}

#friend-list-header {
  height: 50px;
  text-transform: uppercase;
}

.avatar-friend-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
  margin-right: 10px;
}

.avatar-friend-list span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(115, 127, 141);
  font-size: 16px
}

.mutual-servers-div {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px
}

.mutual-servers-icon {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 5px;
}
