.home-page-header {
  display: flex;
  justify-content: flex-end;
  height: 76px;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  color: white;
  padding: 12px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  opacity: .5
}

.app-start {
  width: 100%;
}

.logo-container {
  position: absolute;
  z-index: 3;
  color: white;
  top: 20px;
  left: 25px;
  font-size: 33px;
  vertical-align: middle;
}

.logo-container h1 {
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  font-family: fantasy;
  margin-left: -3px;
}

.logo-container i {
  font-size: 36px;
  padding: 0 5px;
}

.home-page-header h1 {
  margin: auto 0;
}

.home-page-nav {
  height: 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-nav a {
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
  margin: 10px;
  font-size: 12px;
}

.home-page-nav a:hover {
  border-color: white;
}

/* animation */

body {
  background-color: black;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.imgur.com/lpKiQk5.jpg');
  background-position: center;
}

.home-page-body {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url('https://i.imgur.com/lpKiQk5.jpg');
  background-position: center;
  animation-timing-function: ease-in-out;
  animation: animate-background 20s infinite;
}

@keyframes animate-background {
  0% { background-position: center }
  25% { background-position: left }
  75% { background-position: right}
}


/* animation end */


/*
.login-form-div {
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 500px;
  color: white;
} */

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 424px;
  border-radius: 10px;
  background-color: #36393f;
  color: #f6f6f7;
  box-sizing: border-box;
  padding:40px;
  border: 1px solid rgba(0,0,0, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
  opacity: .9;
}

.login-form-div button {
  padding: 20px;
  background-color: #7289da;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.get-started-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 200px;
  border-radius: 10px;
  background-color: #36393f;
  color: #f6f6f7;
  box-sizing: border-box;
  padding:40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0, 0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
  opacity: .8;
}

.get-started-div h1 {
  text-align: center;
  text-shadow: 1px;
  font-size: 24px;
  opacity: 1;
}

.get-started-button-container {
  display: flex;

}

.get-started-div button {
  padding: 10px;
  height: 60px;
  width: 170px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  margin: auto;
  box-shadow: 1px 1px 1px 1px black;
  opacity: 1;
}

.demo-user {
  background-color: white;
  color: black;
}

#logging-in {
  background-color: lightgray;
  box-shadow: 0 0 0 0;
}

.demo-user:hover {
  background-color: lightgray;
}

.get-started-button {
  background-color: #7289da;
}

.get-started-button:hover {
  background-color: #677bc4;
}

.login-form-div button:hover {
  background-color: #677bc4;
}

.login-form-div h1 {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
.login-form-div h2 {
  text-align: center;
  color: #72767d;
}

.login-form-div label div {
  margin-bottom: 10px;
}

.login-form-div label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.login-form-div input {
  background-color: rgba(0,0,0, .1);
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0, .3);
  padding: 0 10px;
  box-sizing: border-box;
}

.login-form-div input:focus {
  border: 2px solid #677bc4 !important;
}

.login-form-div input:hover {
  border: 2px solid rgba(0,0,0, 0.3);
}

.form-errors {
  color: red;
  margin-left: 10px;
  z-index: 2;
  font-size: 13px;
}

.form-inner-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 344px;
  box-sizing: border-box;
}

.register-text {
  color: #72767d;
}

.register-text a {
  color: #7289da;
}
