.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-server-container {
  background-color: white;
  height: 300px;
  width: 520px;
  border-radius: 5px;
  padding: 40px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display:flex;
  flex-direction: column;
  color: #7289da;
}

#edit-channel {
  height: 200px;
}

.create-server-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
}

.create-server-container h1 {
  margin-bottom: 40px;
}

.create-server-container input {
  border: 2px solid black;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: left;
  padding: 0 20px;
  color: black;
}

.create-server-container input:hover {
  border: 2px solid #677bc4;
}

.create-server-container input:focus {
  border: 2px solid #7289da;
}

.create-server-form-button {
  background-color: #7289da;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  margin: 0 20px;
  box-shadow: 4px 4px 4px #4f545c;
}

.create-server-form-button:hover {
  background-color: #677bc4;
  box-shadow: none;
}

.join-server-container {
  background-color: white;
  height: 300px;
  width: 520px;
  border-radius: 3px;
  padding: 40px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display:flex;
  flex-direction: column;
  color: #369368;
}

.join-server-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
}

.join-server-container h1 {
  margin-bottom: 40px;
}

.join-server-container input {
  border: 2px solid black;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: left;
  padding: 0 20px;
  color: black;
  margin-bottom: 0;
}

.join-server-container input:hover {
  border: 2px solid #369368;
}

.join-server-container input:focus {
  border: 2px solid #3ca374;
}

.join-server-form-button {
  background-color: #3ca374;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  margin: 0 20px;
  box-shadow: 4px 4px 4px #4f545c;
}

.join-server-form-button:hover {
  background-color: #369368;
  box-shadow: none;
}

.dropdown-box {
  position: absolute;
  right: 5px;
  top: -40px;
  height: 20px;
  width: 120px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
}

.dropdown-box li:hover {
  background-color: #7289da;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.user-footer {
  position: relative;
}

.button-selected {
  box-shadow: none;
}
