.channel-name-header {
  margin: auto 0;
  padding-left: 10px;
  width: 300px;
  overflow: scroll;
  text-overflow: clip;
}



.toggle-friends-div {
  color: gray;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 20px;
  cursor: pointer;
  border-radius: 3px;
}

.toggle-friends-div:hover {
  background-color: #f6f6f7;
}
