.user-channel-main {
  color: black;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  flex-direction: row;
  display: flex;
}

.server-selector-sidebar {
  width: 70px;
  height: 100%;
  z-index: 2;
  background-color: #202225;
  flex-shrink: 0;
}

.friend-selector-sidebar {
  width: 240px;
  height: 100%;
  z-index: 2;
  display: flex;
  background-color: #36393f;
  flex-shrink: 0;
  /* align-items: flex-end; */
}

.user-footer {
  align-self: flex-end;
  background: rgba(32,34,37,.3);
  height: 52px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user-footer h3 {
  margin: auto 0;
  font-size: 16px;
}

.message-div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
}
