.delete-message-div {
  align-self: flex-end;
  position: absolute;
  right: 25px;;
  top: 0;
  font-family: arial sans-serif;
  color: #99aab5;
}

.delete-message-div i {
  height: 16px;
  width: 16px;
  color: #99aab5;
  font-size: 16px;
}

.delete-message-div i:hover {
  color: red;
}

.delete-channel-div {
  width: 40px;
  height: 16px;
  justify-content: flex-end;
  margin-left: auto;
}

.delete-channel-div i {
  color: #72767d;
  padding: 0 3px;
}

.delete-channel-div i:hover {
  color: red;
}
